/* Modal Box */

.container {
  width: 900px;
  margin: 0 auto;
}

.weeklyHeader {
  text-align: center;
}

.addEntry {
  cursor: pointer;
  padding: 0.6rem 2.5rem;
  box-shadow: 4px 4px 4px black;
  font-weight: bold;
  margin: 20px 0;
}

.trial {
  display: flex;
  justify-content: center;
}

.modalContainerOn {
  top: 0;
  left: 0;
  align-items: center;
  position: fixed;
  background-color: rgba(35, 35, 35, 0.6);
  width: 100vw;
  height: 100vh;
}

.text-center {
  text-align: center;
}

.modalContent {
  position: fixed;
  top: 15%;
  left: 19%;
  background-color: white;
  border: 1px solid black;
  width: 60%;
  height: 250px;
  padding-left: 20px;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.addEntry2 {
  text-align: center;
}

textarea {
  margin: 15px 0;
  width: 95%;
  height: 75px;
  resize: none;
}

.submitButton {
  float: right;
  margin-right: 20px;
}

.row {
  display: flex;
}

.column1-7 {
  flex-basis: calc(100% / 6);
}

.dayButton {
  background-color: white;
  height: 72px;
  width: 85px;
}

.modalContainerOff {
  display: none;
}

table {
  margin: 0 auto;
  border: 2px solid black;
  width: 90%;
}

tr {
  /* border-right: 1px solid black; */
}

td {
  /* border: 1px solid black; */
}

tr:nth-child(odd) {
  background: #eee;
}

.scheduled-heading {
  margin: 20px auto;
  text-align: center;
}

.wide {
  width: 550px;
}

.move-right {
  float: right;
}

.addEntry:hover,
.move-right:hover {
  background-color: #95bcf2;
}
